body {
    background: #F8F5F2;
}

.carouselImg {
    display: block; 
    max-height: 700px;
    width: 100%;
    object-fit: cover; /* cumple con las condiciones de height (alto) y width (ancho) y no muestra la parte que se sale*/
}

#seccionLogin {
    width: 100%; /* siempre respecto al contenedor en este caso el div con col-8...*/
    min-height: 400px;
    background-image: url(images/login.jpg);
    background-size: cover;
}

#seccionComida {
    width: 100%; /* siempre respecto al contenedor en este caso el div con col-8...*/
    min-height: 400px;
    background-image: url(images/cargarAlimentos.jpg); 
    background-size: cover;
}

.bkInfo {
    background: #F8F5F2;
    min-height: 300px;
    margin-top: 50px;
    -webkit-box-shadow: -36px 34px 0px -23px rgba(218,174,5,1);
    -moz-box-shadow: -36px 34px 0px -23px rgba(218,174,5,1);
    box-shadow: -36px 34px 0px -23px rgba(218,174,5,1);
    
}

.bkInfo h3 {
    font-size: 2em;
    font-weight: bold;
}

#cuerpo {
    color: #5C544C;
}

#cuerpo h2 {
    font-size: 3em;
    font-weight: bolder;
}

#pie1 {
    background: #5C544C;
    color: #F8F5F2;
}

#pie2 {
    background: #47433F;
    color: #F8F5F2;

}

#menu {
    background: #5C544C;
    color: #F8F5F2;

}


#contenedor {
    background-image: url('images/bkInterior.jpg');
    height: 100vh; /* (vertical heigh) el la altura vertical de la pantalla */
    background-size: cover; 
}

#cajaContacto {
    background: rgba(255, 255, 255, 0.9); /* el ultimo valor es alpha y es la transparencia */ 
    height: 500px;
    -webkit-box-shadow: -36px 34px 0px -23px rgba(218,174,5,1);
    -moz-box-shadow: -36px 34px 0px -23px rgba(218,174,5,1);
    box-shadow: -36px 34px 0px -23px rgba(218,174,5,1);

}

#cajaFila {
    height: 100%;
}