<div class="container-fluid">
    <div class="row" id="menu">
        <div class="col-2 offset-2">
            <img src="/assets/logoRegistroComidas.png">
        </div>
        <div class="col-1 align-items-center d-flex offset-5">
            <a routerLink="/login" class="btn btn-danger">Login</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            <carousel>
                <slide>
                    <img src="assets/banner1.jpg" alt="first slide" >
                </slide>
                <slide>
                    <img src="assets/banner2.jpg" alt="second slide">
                </slide>
                <slide>
                    <img src="assets/banner3.jpg" alt="third slide">
                </slide>
            </carousel>
        </div>
    </div>
    <div class="row" id="cuerpo">
        <div class="col-8 offset-2">
            <!-- mt-5 es margen top desde row -->
            <h2 class="text-center mt-5">Como funciona?</h2>
        </div>
        <div class="col-8 offset-2 px-0" id="seccionLogin">
            <div class="row">
                <div class="col-8 col-md-4 offset-md-7 offset-2 bkInfo">
                    <h3 class="text-center mt-5">1. Login</h3>
                    <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam voluptatem sed quia impedit beatae corrupti dolore fugit neque. Omnis ipsum quo, animi quisquam itaque fugit?</p>
                </div>
            </div>
        </div>
        <div class="col-8 offset-2 px-0 mt-5" id="seccionComida">
                <div class="row">
                    <div class="col-8 col-md-4 offset-md-7 offset-2 bkInfo">
                        <h3 class="text-center mt-5">2. Registra tus comidas</h3>
                        <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam voluptatem sed quia impedit beatae corrupti dolore fugit neque. Omnis ipsum quo, animi quisquam itaque fugit?</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="row mt-5" id="pie1">
        <div class="col-lg-3 col-10 offset-2">
            <img src="/assets/logoRegistroComidas.png">
        </div>
        <div class="col-lg-5  col-10 align-items-center d-flex">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quos asperiores delectus ipsam porro consequatur corporis quo sit, similique nulla minima sapiente incidunt repellendus. Corrupti ab labore necessitatibus excepturi rem.</p>
        </div>
    </div>
    <div class="row" id="pie2">
            <div class="col-8 offset-2 align-items-center d-flex mt-2">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, dolorum aspernatur ea repellat expedita iure dolore nemo reiciendis hic? Dignissimos accusantium ipsam laborum perferendis</p>
            </div>
    </div>

</div>